/* Styles for Header */
@import '../../styles/media.css';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: red;
    padding-inline: 30px;
    
}


.text {
    font-weight: bold;
    font-size: 20px;

    @media(--tablet) {
        font-size: 24px;
    }
}


.mode {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
}
